/[Aa]pp/
/Assets/AssetStoreTools*
/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/

/UWP/Assembly-CSharp-firstpass/
/UWP/Assembly-CSharp/
/UWP/project.lock.json

*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.DS_store
